<div style="text-align:center">
  <br><br><br>
  <h1 class="bienvenido">Bienvenido!</h1>
  <div *ngIf="authService.authenticated; then welcomeUser else signInPrompt"></div>
  <ng-template #welcomeUser>
    <!-- CAMBIAR VENTANA A MENU PRINCIPAL -->
    <button hidden id="menu" routerLink="../menuPrincipal"></button>
    <h4>{{ authService?.user?.displayName }}</h4>
    <p>Puntos: {{ authService?.user?.puntos }}</p>
    <button routerLink="../form">Añadir Entrada</button>  
    <button routerLink="../top10" style="margin-left: 5px">Ver top 10</button>
    <button routerLink="../find" style="margin-left: 5px">Buscar</button>
    <button *ngIf="(authService?.user?.tipo == 'Director') || (authService?.user?.tipo == 'Experto')" id="verify" routerLink="../verify" style="margin-left: 5px">Verificar conocimiento</button>  
  </ng-template>
</div>
