.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
}

.container{
    /* width: 600px; */
    width: 100%
}

form{
    width: 50%;
    margin: 0 auto;
}

.btn{
    background-color: rgb(23, 69, 136);
    border-color: rgb(23, 69, 136);
}

#scrolltable {
    height: 550px; 
    overflow: auto; 
 }