<nav class="navbar navbar-expand-md fixed-top">
  <div class="container">
    <!-- logo -->
    <a class="navbar-item" routerLink="/home">
      <img width="200" src="assets/img/Logo.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleNavBar()" [attr.aria-expanded]="showNav"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" [class.show]="showNav" id="navbarCollapse">
      <ul class="navbar-nav mr-auto"></ul>
      <button *ngIf="authService.authenticated" routerLink="/recompensas">
          <h6>
          <mdb-icon fas icon="star"  size="2x" style="color: rgb(248, 210, 71);"></mdb-icon>
          {{ authService?.user?.puntos }}</h6>
      </button>
      <ul class="navbar-nav justify-content-end">
        <li *ngIf="authService.authenticated" ngbDropdown placement="bottom-right" class="nav-item">
            <a ngbDropdownToggle id="notificaciones" class="nav-link" href="javascript:undefined" role="button" aria-haspopup="true" aria-expanded="false">
              Notificaciones
            <mdb-icon *ngIf="showNotif" fas icon="exclamation" fixedWidth="true" size="md" style="color: rgb(204, 4, 4)"></mdb-icon>
            </a>
            <div ngbDropdownMenu aria-labelledby="notificaciones">
                <p class="dropdown-item" *ngIf="!showNotif">Documentos actualizados</p>
                <li *ngFor="let doc of documents">
                    <p class="dropdown-item">El objeto "{{ doc }}" será eliminado en los próximos días</p>
                    <div class="dropdown-divider"></div>
                </li>
            </div>
        </li>

        <li *ngIf="authService.authenticated" ngbDropdown placement="bottom-right" class="nav-item">
          <a ngbDropdownToggle id="userMenu" class="nav-link" href="javascript:undefined" role="button" aria-haspopup="true"
            aria-expanded="false">
            <mdb-icon far icon="user-circle" fixedWidth="true" size="lg"></mdb-icon>
          </a>
          <div ngbDropdownMenu aria-labelledby="userMenu">
            <h5 class="dropdown-item-text mb-0">{{authService?.user?.displayName}}</h5>
            <p class="dropdown-item-text text-muted mb-0">{{authService?.user?.email}}</p>
            <p class="dropdown-item-text text-muted mb-1">Nivel: {{ authService?.user?.tipo }}</p>
            <div class="dropdown-divider"></div>
            <!-- <a class="dropdown-item" href="javascript:undefined" role="button" (click)="signOut()">Sign Out</a> -->
            <a class="dropdown-item" routerLink="/" role="button" (click)="signOut()">Sign Out</a>
          </div>
        </li>
        <li *ngIf="!authService.authenticated" class="nav-item">
          <button href="javascript:undefined" role="button" (click)="signIn()">Sign In</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<hr>