<div id="scrolltable">
  <table class="table-fixed split left" id="recompensas" align="center">
    <tr style="background-color: rgb(23, 69, 136); color: white">
      <th></th>
      <th>Premio</th>
      <th>Puntaje necesario</th>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="cookie-bite"></mdb-icon></td>
      <td>Snacks o mecato</td>
      <td>10</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="hamburger"></mdb-icon></td>
      <td>Almuerzo gratis</td>
      <td>13</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="ticket-alt"></mdb-icon></td>
      <td>Boletas de cine</td>
      <td>13</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="utensils"></mdb-icon></td>
      <td>Cena en restaurante</td>
      <td>40</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="percent"></mdb-icon></td>
      <td>Descuento en productos de establecimientos dentro del banco</td>
      <td>13</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="parking"></mdb-icon></td>
      <td>Parqueadero gratis</td>
      <td>60</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="shopping-cart"></mdb-icon></td>
      <td>Bonos de centros comerciales y tiendas</td>
      <td>70</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="money-bill-wave"></mdb-icon></td>
      <td>Cursos de Finazas Personales</td>
      <td>70</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="users"></mdb-icon></td>
      <td>Cursos de Mejoramiento Personal</td>
      <td>70</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="dollar-sign"></mdb-icon></td>
      <td>Bono de dinero</td>
      <td>100</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="laptop"></mdb-icon></td>
      <td>Dia de teletrabajo</td>
      <td>100</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon far icon="credit-card"></mdb-icon></td>
      <td>Tasas mas bajas para créditos	</td>
      <td>150</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="business-time"></mdb-icon></td>
      <td>Medio día libre	</td>
      <td>200</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="calendar-day"></mdb-icon></td>
      <td>Día libre</td>
      <td>300</td>
    </tr>
    <tr>
      <td align="center"><mdb-icon fas icon="plane-departure"></mdb-icon></td>
      <td>Viajes o paseos</td>
      <td>500</td>
    </tr>
  </table>
</div>
<br>
<button class="btn" routerLink="/home">Atrás</button>