div.wrapper {
    width: 800px;
    margin: 80px auto;
  }

  a.simple {
    background: white;
    color: black;
    border: 1px solid black;
    padding: 5px 10px;
    font-size: 1.3rem;
    font-family: 'Helvetica';
    font-weight: 300;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    display: inline-block;
    text-align: center;
  }
   
  input {
    border: none;
    border-bottom: 2px solid #000099;
    font-size: 1rem;
    outline: none;
    font-family: 'Helvetica';
    font-weight: 300;
    margin-right: 100px;
    width: 450px;
  }
   
  input:focus {
    border-bottom: 2px solid #f7c639;
  }
   
  div.library-box {
    font-family: 'Lato';
    color: white;
    background: purple;
    width: 200px;
    height: 70px;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
    border-radius: 4px;
    display: inline-block;
    margin: 20px;
  }
   
  div.library-box:hover {
    background: black;
    cursor: pointer;
  }

  .buscar {
	background-color:#113c85;
	-moz-border-radius:19px;
	-webkit-border-radius:19px;
	border-radius:19px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
    padding:10px 25px;
    margin-top: 30px;
	text-decoration:none;
	text-shadow:0px 0px 0px #283966;
}
.buscar:hover {
	background-color:#476e9e;
}
.buscar:active {
	position:relative;
	top:1px;
}

#documents {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#documents td, #documents th {
border: 1px solid #ddd;
padding: 4px;
}

#documents td{
  font-size: 14px;
}

#documents tr:nth-child(even){
background-color: #f2f2f2;
}

#documents tr:hover {
background-color: #ddd;
}

#scrolltable {
  height: 470px; 
  overflow: auto; 
}

.btn{
  background-color: rgb(23, 69, 136);
  border-color: rgb(23, 69, 136);
  color: white;
}

.btn:hover{
  background-color: rgb(69, 117, 189);
  border-color: rgb(69, 117, 189);
}

.btn#atras{
  background-color: rgb(23, 69, 136);
  border-color: rgb(23, 69, 136);
  color: white;
}