<div style="height: 550px">
  <mat-tab-group >
    <mat-tab label="Buscar"> 
        <form  style="margin-left: 0px;">
            <br>
            <div class="form-group">
              <label for="nombre">Nombre</label>
              <input type="text" class="form-control" id="nombre" placeholder="Todos">
            </div>
            <div class="form-group">
                <label for="area">Área</label>
                <select class="form-control" id="area" required>
                  <option *ngFor="let area of areas" [value]="area">{{ area}}</option>
                </select>
             </div>
            <div class="form-group">
                <label for="solucion">Solución o producto</label>
                <select class="form-control" id="solucion" required>
                  <option *ngFor="let solucion of soluciones" [value]="solucion">{{ solucion }}</option>
                </select>
              </div>
            <div class="form-group">
                  <label for="proceso">Proceso</label>
                  <select class="form-control" id="proceso" required>
                    <option *ngFor="let proceso of procesos" [value]="proceso">{{ proceso}}</option>
                  </select>
            </div> 
        </form> 
        <div style="text-align: left;">
            <button style="margin-left: 130px" class="btn btn-success" (click)="fillResults();showResults=true;showDetail=false;">Buscar</button>
        </div> 
        <div *ngIf="showResults" class="float-md-right split right" style="max-width: 50%; " id="scrolltablei">
            <mat-card>
                <table class="table-fixed split right" width="550" id="documents">
                    <thead>
                      <tr style="background-color: rgb(23, 69, 136); color: white">
                        <th>Area</th>
                        <th>Solución</th>
                        <th>Proceso</th>
                        <th>Objeto de conocimiento</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let res of results; index as i">
                        <td>{{res[3]}}</td>
                        <td>{{res[11]}}</td>
                        <td>{{res[12]}}</td>
                        <td>{{res[0]}}</td>
                        <td><button class="btn" (click)="showResults=false; showDetail=true;resultin =[res[0], res[1], res[2], res[3], res[4], res[5], res[6], res[7], res[8], res[9], res[10], res[11], res[12]];" style="display: block; margin: 0 auto; padding: 1px;">Ver objeto completo</button></td>
                      </tr>
                    </tbody>
                  </table>
            </mat-card>
          </div>
          <div *ngIf="showDetail" class="float-md-right split right" style="max-width: 70%" id="scrolltablei">
            <mat-card>
              <mat-card-header>
                  <mat-card-title>{{resultin[0]}}</mat-card-title>
                  <mat-card-subtitle><b>Responsable:</b> {{resultin[1]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Especialidad:</b> {{resultin[2]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Área:</b> {{resultin[3]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Solución o producto:</b> {{resultin[11]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Proceso:</b> {{resultin[12]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Datos generales:</b> {{resultin[4]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>¿Qué se hizo?:</b> {{resultin[5]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Diferencias:</b> {{resultin[6]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>¿Por qué se hizo?:</b> {{resultin[7]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Resultados:</b> {{resultin[8]}}</mat-card-subtitle>
                  <mat-card-subtitle *ngIf="resultin[9]!=''"><b>¿Se repite?:</b> {{resultin[9]}}</mat-card-subtitle>
                  <mat-card-subtitle><b>Fecha límite de validez:</b> {{resultin[10]}}
                  </mat-card-subtitle>
                </mat-card-header>
              <mat-card-actions>
                  <button mat-button style="margin-left: 5%;" (click)="showDetail=false;showResults=true">Atrás</button>
                  <button mat-button style="margin-left: 5%;" (click)=" document = resultin; open(content)">Modificar</button>
                </mat-card-actions>
            </mat-card>
          </div>
    </mat-tab>

  </mat-tab-group>
</div>
<button class="btn" id="atras" routerLink="/home">Atrás</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Modificando "{{document[0]}}"</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group2">
          <div class="form-group2">
              <label for="datos">Datos generales</label>
              <textarea class="form-control2" id="datos" rows="3" required>{{document[4]}} </textarea>
          </div>
          <div class="form-group2">
              <label for="realizado">¿Qué se hizo?</label>
              <textarea class="form-control2" id="realizado" rows="3" required>{{document[5]}} </textarea>
          </div>
          <div class="form-group2">
              <label for="diferencia">¿En qué se diferencia de lo que se ha hecho anteriormente?</label>
              <textarea class="form-control2" id="diferencia" rows="3"  required>{{document[6]}}</textarea>
          </div>
          <div class="form-group2">
              <label for="porque">¿Por qué se hizo?</label>
              <textarea class="form-control2" id="porque" rows="3" required>{{document[7]}}</textarea>
          </div>
          <div class="form-group2">
              <label for="resultados">¿Cuáles fueron los resultados?</label>
              <textarea class="form-control2" id="resultados" rows="3" required>{{document[8]}}</textarea>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="onSubmit(document[0]); modal.close(); ">Guardar</button>
    </div>
  </ng-template>

  

