<html>
  <body>
    <table id="verify">
      <tr style="background-color: rgb(23, 69, 136); color: white">
        <th></th>
        <th>Objeto de conocimiento</th>
        <th></th>
      </tr>
      <tr *ngFor="let doc of docs; index as i">
        <td>{{i+1}}</td>
        <td>{{doc}}</td>
        <td><button class="btn" routerLink="/home" style="display: block; margin: 0 auto;">Verificar</button></td>
      
      </tr>
    </table>
    <br>
    <button class="btn" routerLink="/home">Atras</button>
  </body>
</html>