<html>
  <body>
    <div>
      <div *ngIf="show" class="float-md-right split right">
          <mat-card>
            <mat-card-header>
                <mat-card-title>{{document[0]}}</mat-card-title>
                <mat-card-subtitle>Responsable: {{document[1]}}</mat-card-subtitle>
                <mat-card-subtitle>Especialidad: {{document[2]}}</mat-card-subtitle>
                <mat-card-subtitle>Área: {{document[3]}}</mat-card-subtitle>
                <mat-card-subtitle>Fecha límite de validez:  
                  <input type="text" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-dark-blue', adaptivePosition: true, showWeekNumbers: false }" id="validez" class="form-control" style="width: 110px;" required>
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-actions>
                <button mat-button style="margin-left: 5%;" (click)="show=false;"><mdb-icon fas icon="times" fixedWidth="true" size="md" style="color: red;"></mdb-icon></button>
                <button mat-button style="margin-left: 5%;" (click)="openModal(template, document[0], document[1]);"><mdb-icon fas icon="check" fixedWidth="true" size="md" style="color: green;"></mdb-icon></button>
              </mat-card-actions>
          </mat-card>
      </div>
        <div id="scrolltable">
            <table class="table-fixed split left" width="500" id="verify">
                <thead>
                  <tr style="background-color: rgb(23, 69, 136); color: white">
                    <th></th>
                    <th>Objeto de conocimiento</th>
                    <th>Autor</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let doc of docs; index as i">
                    <td>{{i+1}}</td>
                    <td>{{doc[0]}}</td>
                    <td>{{doc[1]}}</td>
                    <td><button class="btn" (click)="show=true; document=[doc[0], doc[1], doc[2], doc[3]]" style="display: block; margin: 0 auto;">Verificar</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <br>
    <button class="btn" id="atras" routerLink="/home">Atras</button>

    <ng-template #template class="template">
        <div class="modal-header">
          <h4 class="modal-title pull-left">{{tituloMensaje}}</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{mensaje}}
        </div>
    </ng-template>
  </body>
</html>