#verify {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    /* margin: 0 auto; */
  }
  
#verify td, #verify th {
  border: 1px solid #ddd;
  padding: 4px;
}

#verify tr:nth-child(even){
  background-color: #f2f2f2;
}

#verify tr:hover {
  background-color: #ddd;
}

.btn#atras{
  background-color: rgb(23, 69, 136);
  border-color: rgb(23, 69, 136);
  color: white;
}

.btn{
  background-color: rgb(166, 250, 225);
  border-color: rgb(166, 250, 225);
  color: black;
  padding: 1px;
}

.btn:hover{
  background-color: rgb(44, 184, 142);
  border-color: rgb(44, 184, 142);
}