#verify {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
  }
  
#verify td, #verify th {
  border: 1px solid #ddd;
  padding: 4px;
}

#verify tr:nth-child(even){
  background-color: #f2f2f2;
}

#verify tr:hover {
  background-color: #ddd;
}

#verify td{
  font-size: 14px;
}

.btn#atras{
  background-color: rgb(23, 69, 136);
  border-color: rgb(23, 69, 136);
  color: white;
}

.btn{
  background-color: rgb(23, 69, 136);
  border-color: rgb(23, 69, 136);
  color: white;
  /* padding: 1px; */
}

.btn:hover{
  background-color: rgb(69, 117, 189);
  border-color: rgb(69, 117, 189);
}

mat-card {
  /* max-width: 400px; */
  /* margin-right: 400px; */
  background-color: #ddd;
  width: 100%;
}

mat-card-title{
  font-weight: 800;
}

#scrolltable {
   height: 500px; 
   overflow: auto; 
}